<div class="about">
  <div class="background">
    <div class="container">
      <div class="content">
        <h1 class="text-center"> About </h1>
        <hr class="Line">
        <h4> This is a page that sells absolutely everything! </h4>
      </div>
      <div class="content">
        <div class="features">
            <div class="feature text-center">
            <%= fa_icon 'phone 5x' %>
            <h4>+6016-789456</h4>
          </div>
          <div class="feature text-center">
            <%= fa_icon 'envelope-o 5x'%>
            <h4>enquiry@dayshop.com</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
