<div class="form">
  <header>
    <h1>Hi, <br>Let's pay for the stuffs you want.</h1>
    <p>
      Give me all your money!
    </p>
  </header>

  <%= form_for(:payment, url: checkouts_path, html: { id: "payment-form" }) do |f| %>
    <div class="form-group", id="dropin-container">

    </div>

    <div class="form-group">
      <%= f.submit "Pay", class: "btn btn-success btn-lg" %>
    </div>
  <% end %>
</div>
