
.item-container{
  text-emphasis-color: white;
  display: flex;
  // flex-wrap: wrap;
  justify-content:space-around;

  border-radius: 9px;
  margin: 15px;
  // max-width:1200px;
}

.item-item{
  flex: 0 0 46%;
  position: relative;
  margin: auto, 2%;
}

.quantity{
  width: 45px;
}

.additional-info{
    margin: 15px;
    background-color:#f2f2f2;
}

.all-items{
  margin: 3vh;
}

.search-bar {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 3vh;
}
