.landing {
  .background {
    background-image: asset-url("image.jpg");
    height: calc(100vh - 52px);
    width: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .landing-container {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
  }

  .carousel {
    background-color: white;
    border-style: double;
    border-width: thick;
    border-color: black;
    flex: 0 0 40%;
    margin: auto 5%;
    min-width: 320px;

  }

  .carousel-inner .item img {
    height: 500px;
  }

  .carousel-title {
    color: black;
  }

  .carousel-caption {
    background-color: rgba(0,0,0,0.4)
  }

  .search-box {
    background-color:rgba(0,0,0,0.65);
    margin: 10px;
    min-height: 120px;

    .title {
      color: white;
    }

    hr {
    width: 90%;
    border-color: white;
    border-width: 1px;
    }

    .search-bar {
      margin: auto;
    }
  }

  .right-container {
    flex: 0 0 44%;
    margin: auto 3%;
    min-width: 320px;

    .carousel-inner .item img {
      height: 300px;
      margin: auto auto;
    }
  }
}
