
<div class="all-items">


<%= @items.each do |a| %>

<div class="ui card text-center">
  <div class="image">

  </div>
  <div class="content">
    <a class="header"><%=link_to a.name, item_path(a.id)%></a>
    <div class="meta">
      <span class="date">Joined in 2013</span>
    </div>
    <div class="description">
      <%=a.description%>
    </div>
  </div>
  <div class="extra content">
    <a>
      <i class="shop icon"></i>
      <%=a.price%>
    </a>
  </div>
</div>

<%end%>
</div>
